.block_left {
  display: block;
  float: left;
}
.block_right {
  display: block;
  float: right;
}
.narrow_column {
  float: left;
  width: 201.968px;
  padding: 10px 0px 5px 0px;
  background-color: white;
}
.left_lien {
  border-right: 1px solid #d9d6d7 ;
}
.prezn_block {
  display: block;
  background-color: #b2bddd;
  width: 187.968px;
  height: 20px;
}
.nar_bar {
  margin: 0px 5px ;
}
.dis_block {
  display: block;
  padding: 1px;
}
.nar_bar_txt {
  padding: 2px;
  float: left;
}
/*-------------------------------
блок отправить
---------------------------------*/
#mi_fd_block {
  display: block;
  width: 191.968px;
  height: 83px;
  background-color: #ededed;
  text-align: center;
}
#mi_fd_block #block_otp {
  display: block;
  float: left;
  width: 181.968px;
  height: 30px;
  margin: 5px;
  background-color: #54769b;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}
#mi_fd_block #block_otp:hover {
  background-color: #2b5274;
}
#mi_fd_block #Block_al_dr {
  display: block;
  float: left;
  width: 181.968px;
  height: 30px;
  margin: 5px;
  color: #5d5d5d;
  border-radius: 4px;
  font-weight: 500;
}
#mi_fd_block #Block_al_dr:hover {
  background-color: #b7b7b7;
}
#mi_fd_block .knopka_otp {
  display: block;
  padding: 8px;
}
/*------------------------------------------------
блок с тип подписчики и фотографии с александром
--------------------------------------------------*/
#block_foto_i_td {
  display: block;
  width: 191.968px;
  height: 50px;
  background-color: white;
  font-size: 9px;
  margin: 5px 0px;
}
#block_foto_i_td .ctr_fot_pd {
  display: block;
  float: left;
  width: 187.968px;
  height: 20px;
  margin: 1px;
  background-color: white;
  border-radius: 3px;
}
#block_foto_i_td .ctr_fot_pd #icon_1 {
  display: block;
  float: right;
  width: 13px;
  height: 10px;
  background: url("../Photos/UzerPhoto/profile_icons.png") 0px 0px no-repeat;
  background-size: cover;
  margin: 5px 3px;
}
#block_foto_i_td .ctr_fot_pd #icon_2 {
  display: block;
  float: right;
  width: 13px;
  height: 10px;
  background: url("../Photos/UzerPhoto/profile_icons.png") 0px -24px no-repeat;
  background-size: cover;
  margin: 5px 3px;
}
#block_foto_i_td .ctr_fot_pd:hover {
  background-color: #c8cdd5;
}
#block_foto_i_td .knopka_fo_pd {
  display: block;
  float: left;
  width: 151.968px;
  height: 10px;
  margin: 5px 2px;
}
#block_foto_i_td .namb_ft_pd {
  display: block;
  float: right;
  width: 10px;
  height: 10px;
  margin: 5px 0px;
  text-align: right;
}
/*----------------------------------------------------------*/
.arr_photos {
  display: block;
  float: right;
  padding: 2px;
}
.namber_text {
  margin: 2px;
}
#ass_photos {
  display: block;
  float: right;
  width: 13px;
  height: 10px;
  background: #ffffff url("../Photos/UzerPhoto/profile_icons.png") no-repeat 0px 0px;
  background-size: cover;
  margin: 0;
}
#ass_pod {
  display: block;
  float: right;
  width: 13px;
  height: 10px;
  background: #ffffff url("../Photos/UzerPhoto/profile_icons.png") no-repeat 0px -23px;
  background-size: cover;
  margin: 0;
}
#pod_al {
  margin-right: 20px ;
}
.normal_text {
  display: block;
  padding: 3px 5px;
  width: 181.968px;
  font-weight: 800;
}
.normal_text_centr {
  display: block;
  padding: 3px 35px;
  width: 121.96799999999999px;
}
.normal_text_v1 {
  display: block;
  padding: 3px 5px;
  width: 181.968px;
  font-weight: 300;
}
.namber_text_right {
  display: block;
  float: right;
  padding-right: 2px;
}
.nz_block {
  display: block;
  background-color: #c8cdd5;
  width: 187.968px;
  height: 22px;
}
/*----------------------------------------------------------------------------------
блок с подарками
------------------------------------------------------------------------------------*/
#gift_pr_block {
  display: block;
  padding: 2px;
}
#gift_pr_block #prezn_gift {
  display: block;
  float: right;
  width: 13px;
  height: 10px;
  background: url("../Photos/UzerPhoto/profile_icons.png") no-repeat 0px -34px;
  background-size: cover;
  margin: 0;
}
#gift_pr_block #block_prezn {
  display: block;
  width: 185.968px;
  height: 61px;
  padding: 10px 0px;
}
#gift_pr_block #block_prezn .block_prezn_photo {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
}
#gift_pr_block #block_prezn .block_prezn_photo #ass_prezn_photo_1 {
  display: block;
  float: left;
  width: 61.96799999999999px;
  height: 61.96799999999999px;
  background: url("../Photos/UzerPhoto/present_1.png") no-repeat;
  background-size: cover;
  margin: 0;
}
#gift_pr_block #block_prezn .block_prezn_photo #ass_prezn_photo_2 {
  display: block;
  float: left;
  width: 61.96799999999999px;
  height: 61.96799999999999px;
  background: url("../Photos/UzerPhoto/present_1.png") no-repeat;
  background-size: cover;
  margin: 0;
}
#gift_pr_block #block_prezn .block_prezn_photo #ass_prezn_photo_3 {
  display: block;
  float: left;
  width: 61.96799999999999px;
  height: 61.96799999999999px;
  background: url("../Photos/UzerPhoto/present_2.png") no-repeat;
  background-size: cover;
  margin: 0;
}
#gift_pr_block #prezn_block_otp {
  display: block;
  background-color: #b2bddd;
  width: 187.968px;
  height: 20px;
}
#gift_pr_block #prezn_block_otp #prezn_gift_2 {
  display: block;
  float: left;
  width: 13px;
  height: 10px;
  background: url("../Photos/UzerPhoto/profile_icons.png") no-repeat 0px -34px;
  background-size: cover;
  margin: 0;
}
#gift_pr_block #prezn_block_otp:hover {
  background-color: #d1dcf4;
}
/*---------------------------------------------------------------------------
блок с друзьяшками и фотками + видио +аудио
-----------------------------------------------------------------------------*/
#frend_block {
  display: block;
  padding: 2px;
}
#frend_block #frend_al {
  display: block;
  width: 185.968px;
  height: 180px;
}
#frend_block #fr_ob_block {
  display: block;
  width: 185.968px;
  height: 91px;
}
#frend_block .frend_icon {
  display: block;
  float: left;
  width: 61.96799999999999px;
  height: 90px;
}
#frend_block .frend_icon .naime_portren {
  display: block;
  width: 61.96799999999999px;
  height: 30px;
}
#frend_block .frend_icon .neme_text {
  display: block;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  width: 60px;
  height: 20px;
}
#frend_block .frend_icon .neme_text:hover {
  text-decoration: underline;
}
#frend_block .frend_icon #portret-1 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-1.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-2 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-2.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-3 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-3.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-4 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-4.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-5 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-5.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-6 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-6.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-7 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-7.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-8 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-8.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_icon #portret-9 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/Photo/photo-9.jpg") no-repeat;
  background-size: cover;
  margin: 6px;
}
#frend_block .frend_wd:hover {
  background-color: #c8cdd5;
}
#frend_block #news {
  float: right;
  padding-right: 10px;
  color: #4b6988;
}
#frend_block #news:hover {
  text-decoration: underline;
  color: #2b5274;
}
#fo_albom {
  display: block;
  width: 185.968px;
  height: 251px;
}
#fo_albom .albom_block {
  display: block;
  float: left;
  width: 171.968px;
  height: 113px;
  margin: 6px;
}
#fo_albom .albom_block .nz_alb_block {
  display: block;
  width: 171.968px;
  height: 23px;
  color: white;
  background: rgba(179, 179, 179, 0.3);
  margin-top: 91px;
}
#fo_albom .albom_block .nz_alb_block:hover {
  background: rgba(179, 179, 179, 0.7);
}
#fo_albom .albom_block .namb_foto {
  display: block;
  float: right;
  padding-right: 25px;
}
#fo_albom .albom_block .foto_icon {
  display: block;
  float: right;
  width: 13px;
  height: 10px;
  background: url("../Photos/UzerPhoto/profile_icons.png") no-repeat 0px 0px;
  background-size: cover;
  margin: 0;
}
#fo_albom #albom_1 {
  display: block;
  float: left;
  width: 171.968px;
  height: 114.96799999999999px;
  background: url("../Photos/UzerPhoto/alboms/albom-1.jpg") no-repeat;
  background-size: cover;
  margin: 7px;
}
#fo_albom #albom_2 {
  display: block;
  float: left;
  width: 171.968px;
  height: 114.96799999999999px;
  background: url("../Photos/UzerPhoto/alboms/albom-2.jpg") no-repeat;
  background-size: cover;
  margin: 0px 7px;
}
#interes_stranici {
  display: block;
  width: 185.968px;
  height: 390px;
}
#interes_stranici .block_news {
  display: block;
  float: left;
  width: 179.968px;
  height: 60px;
  margin: 5px;
}
#interes_stranici .block_news #news_st_1 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/st-news/icon-news-1.jpg") no-repeat;
  margin: 0;
  padding: 5px;
}
#interes_stranici .block_news #news_st_2 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/st-news/icon-news-2.jpg") no-repeat;
  margin: 0;
  padding: 5px;
}
#interes_stranici .block_news #news_st_3 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/st-news/icon-news-3.jpg") no-repeat;
  margin: 0;
  padding: 5px;
}
#interes_stranici .block_news #news_st_4 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/st-news/icon-news-4.jpg") no-repeat;
  margin: 0;
  padding: 5px;
}
#interes_stranici .block_news #news_st_5 {
  display: block;
  float: left;
  width: 51.96799999999999px;
  height: 51.96799999999999px;
  background: url("../Photos/UzerPhoto/st-news/icon-news-5.jpg") no-repeat;
  margin: 0;
  padding: 5px;
}
#interes_stranici .block_news .obtic {
  display: block;
  float: left;
  width: 116.96799999999999px;
  height: 20px;
}
#interes_stranici .block_news .obtic:hover {
  text-decoration: underline;
}
#interes_stranici .block_news .slogan {
  font-size: 9px;
}
#vidio_zapis {
  display: block;
  width: 186.968px;
  height: 350px;
}
#vidio_zapis .video_block {
  display: block;
  float: right;
  width: 185.968px;
  height: 104px;
}
#vidio_zapis .video_block .cn_play {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  margin: 32px 75px;
  background: rgba(179, 179, 179, 0.3);
  border: 0.5px solid #646464;
  border-radius: 5px;
}
#vidio_zapis .video_block .cn_play .icon_play {
  display: block;
  float: left;
  width: 14px;
  height: 18px;
  background: url("../Photos/UzerPhoto/Video/video_play.png");
  background-size: cover;
  margin: 9px 12px;
}
#vidio_zapis .video_block .cn_play:hover {
  background: rgba(179, 179, 179, 0.7);
}
#vidio_zapis .video_block .taim_dispy {
  display: block;
  float: right;
  padding: 2px;
  width: auto;
  height: 12px;
  margin: -14px 2px;
  background: rgba(179, 179, 179, 0.7);
  border-radius: 2px;
}
#vidio_zapis #ikon_vidio_1 {
  display: block;
  float: left;
  width: 185.968px;
  height: 105.96799999999999px;
  background: url("../Photos/UzerPhoto/Video/Video--1.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}
#vidio_zapis #ikon_vidio_2 {
  display: block;
  float: left;
  width: 185.968px;
  height: 105.96799999999999px;
  background: url("../Photos/UzerPhoto/Video/Video--2.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}
#vidio_zapis .naime_video {
  display: block;
  float: left;
  width: 185.968px;
  margin: 5px 0px;
}
#vidio_zapis .naime_video .obtic-2 {
  display: block;
  float: left;
}
#vidio_zapis .naime_video .obtic-2:hover {
  text-decoration: underline;
}
#vidio_zapis .naime_video .text_pod_vid {
  display: block;
  float: left;
  font-size: 9px;
}
#vidio_zapis .naime_video .text_pod_vid .obtic-3 {
  display: block;
  float: right;
}
#vidio_zapis .naime_video .text_pod_vid .obtic-3:hover {
  text-decoration: underline;
}
#Audio_zapis {
  display: block;
  width: 186.968px;
  height: 150px;
}
#Audio_zapis .aud_zin {
  display: block;
  float: left;
  width: 185.968px;
  height: 22px;
  margin: 5px 0px;
}
#Audio_zapis .aud_zin .icon_play_aud {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url("../Photos/UzerPhoto/audio/playpause.gif") no-repeat 0px 0px;
  background-size: cover;
  margin: 2px 5px;
}
#Audio_zapis .aud_zin .icon_play_aud:active {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url("../Photos/UzerPhoto/audio/playpause.gif") no-repeat 0px -18px;
  background-size: cover;
  margin: 2px 5px;
}
#Audio_zapis .aud_zin .naime_audio {
  display: block;
  float: left;
  width: 121.96799999999999px;
  height: 20px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
}
#Audio_zapis .aud_zin .naime_audio:hover {
  text-decoration: underline;
}
#Audio_zapis .aud_zin .taim_audio {
  display: block;
  float: right;
  height: 20px;
  padding: 3px;
  color: black;
}
#Audio_zapis .aud_zin:hover {
  background-color: #b2bddd;
}
#ghaloba {
  display: block;
  text-align: center;
  width: 186.968px;
  height: 20px;
  border-radius: 2px;
  font-weight: 700;
}
#ghaloba:hover {
  text-decoration: underline;
  color: white;
  font-weight: 900;
  width: 186.968px;
  height: 186.968px;
  background: #ff0000 url("../Photos/UzerPhoto/nuclear-303831_960_720.png") no-repeat;
  background-size: contain;
}
