.as_block {
  display: block;
  width: 1040px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.block_bar {
  float: left;
  width: 135.928px;
  padding: 5px 0px 1px 4px;
  background-color: white;
}
.text_bar_line {
  list-style: none;
  padding: 0px;
}
.text_bar_line .bar_line {
  display: table-cell;
  vertical-align: middle;
  width: 109.928px;
  height: 20px;
  margin: auto;
  border-radius: 3px;
}
.text_bar_line .bar_line:hover {
  background-color: #e8edf6;
}
.text_bar_line .red_dak {
  display: table-cell;
  vertical-align: middle;
  height: 20px;
  width: 19.927999999999997px;
  border-radius: 3px;
}
.text_bar_line .red_dak:hover {
  background-color: #e8edf6;
}
.text_bar_line .ws_fr {
  display: block;
  float: left;
  color: #535152;
  height: 10px;
  width: 135.928px;
  padding-bottom: 5px;
}
.last_line {
  float: inherit;
  margin-top: 1px;
  padding-top: 1px;
  border-top: 0.5px solid #888888;
}
li {
  display: block;
  text-align: match-parent;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: #4b6988;
  cursor: pointer;
}
