.block_left {
  display: block;
  float: left;
}
.block_right {
  display: block;
  float: right;
}
.wide_column {
  display: block;
  float: right;
  width: 679.9866666666667px;
  padding: 0px;
  background-color: white;
  height: auto;
  font-size: 12px;
}
.wide_column .name_st_cl {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: 30px;
  background-color: #c6c9df;
  font-size: 13px;
  font-weight: 600;
}
.wide_column .slog_left {
  display: block;
  float: left;
  width: auto;
  height: auto;
  margin: 7px;
}
.wide_column .slog_right {
  display: block;
  float: right;
  width: auto;
  height: auto;
  margin: 7px;
  color: #4e93d2;
}
.wide_column .slog_right:hover {
  color: #4282b6;
  text-decoration: underline;
}
.wide_column .vod_stroc {
  display: block;
  float: left;
  width: 649.9866666666667px;
  height: 20px;
  margin: 7px 8px;
}
.wide_column .new_zapesi {
  color: #c3c3c3;
  font-weight: 600;
}
.dottom_line {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: auto;
  border-top: 1px solid #cecece;
}
/*----------------------------------------------------------------
заглавный блок
------------------------------------------------------------------*/
#nami_slog {
  display: block;
  float: left;
  width: 679.9866666666667px;
  height: auto;
  margin-left: 5px;
}
#nami_slog #zagl_top {
  font-size: 15px;
  font-weight: 800;
  color: #34618a;
}
#nami_slog #slog:hover {
  text-decoration: underline;
}
/*----------------------------------------------------------------
блок обо мне
------------------------------------------------------------------*/
#block_obomne {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: 120px;
  background-color: white;
  padding: 10px 0px;
}
#block_obomne .stroc_line {
  display: block;
  float: left;
  width: 599.9866666666667px;
  height: 20px;
  padding: 4px;
}
#block_obomne .stroc_line .nemi_stroc {
  display: block;
  float: left;
  width: 149.98666666666668px;
  height: auto;
}
#block_obomne .stroc_line .znah_stroc {
  display: block;
  float: left;
  width: auto;
  height: auto;
}
#block_obomne .stroc_line .znah_stroc:hover {
  text-decoration: underline;
}
#block_obomne #block_podrobn_inf {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: 40px;
  background-color: #fafafa;
}
#block_obomne #block_podrobn_inf #center {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: auto;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-top: 11px ;
}
#block_obomne #block_podrobn_inf:hover {
  background-color: #d3d3d3;
}
/*---------------------------------------------------------------
ФотографииИиИИИИи,Стена и коменты
-----------------------------------------------------------------*/
#pfoto {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: 164.98666666666668px;
  background-color: #ececec;
  margin: 10px 0px;
}
#pfoto .photo_s_al {
  display: block;
  float: left;
  width: 127.98666666666668px;
  height: 127.98666666666668px;
  background-color: #000000;
  margin: 3px;
}
#pfoto .photo_s_al #photo_s_al_1 {
  display: block;
  float: left;
  width: 127.98666666666668px;
  height: 127.98666666666668px;
  background: url("../Photos/UzerPhoto/Photo_s_al/photo-s-al-1.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#pfoto .photo_s_al #photo_s_al_2 {
  display: block;
  float: left;
  width: 127.98666666666668px;
  height: 127.98666666666668px;
  background: url("../Photos/UzerPhoto/Photo_s_al/photo-s-al-2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#pfoto .photo_s_al #photo_s_al_3 {
  display: block;
  float: left;
  width: 127.98666666666668px;
  height: 127.98666666666668px;
  background: url("../Photos/UzerPhoto/Photo_s_al/photo-s-al-3.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#pfoto .photo_s_al #photo_s_al_4 {
  display: block;
  float: left;
  width: 127.98666666666668px;
  height: 127.98666666666668px;
  background: url("../Photos/UzerPhoto/Photo_s_al/photo-s-al-4.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#pfoto .photo_s_al #photo_s_al_5 {
  display: block;
  float: left;
  width: 127.98666666666668px;
  height: 127.98666666666668px;
  background: url("../Photos/UzerPhoto/Photo_s_al/photo-s-al-5.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#stena {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: auto;
}
#stena #soz_zapis {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: 70px;
  background-color: #e6dee8;
}
/*--------------------------------------------------------------------------------------------
проста стена
----------------------------------------------------------------------------------------------*/
.post {
  display: block;
  float: left;
  width: 669.9866666666667px;
  height: auto;
  background-color: white;
  margin: 10px 0px;
}
.post .avatar_post {
  display: block;
  float: left;
  width: 79.98666666666668px;
  height: 180px;
  margin-right: 5px;
  background-color: white;
}
.post .avatar_post #avatar_post_1 {
  display: block;
  float: left;
  width: 79.98666666666668px;
  height: 79.98666666666668px;
  background: url("../Photos/UzerPhoto/My_photo.jpg") no-repeat;
  background-size: cover;
}
.post .avatar_post #avatar_post_2 {
  display: block;
  float: left;
  width: 79.98666666666668px;
  height: 79.98666666666668px;
  background: url("../Photos/UzerPhoto/My_photo.jpg") no-repeat;
  background-size: cover;
}
.post .avatar_post #avatar_post_3 {
  display: block;
  float: left;
  width: 79.98666666666668px;
  height: 79.98666666666668px;
  background: url("../Photos/UzerPhoto/My_photo.jpg") no-repeat;
  background-size: cover;
}
.post .avatar_post #avatar_post_4 {
  display: block;
  float: left;
  width: 79.98666666666668px;
  height: 79.98666666666668px;
  background: url("../Photos/UzerPhoto/icon_post/icon-post-4.jpg") no-repeat;
  background-size: cover;
}
.asn_post {
  display: block;
  float: right;
  width: 584.9866666666667px;
  height: auto;
  background-color: white;
  padding: 0;
}
.asn_post .neme_glav_post {
  display: block;
  float: right;
  width: 584.9866666666667px;
  height: 25px;
  color: #34618a;
  font-weight: 700;
}
.asn_post .neme_glav_post .vn_gl_nm_ps {
  display: block;
  float: left;
  width: auto;
  height: auto;
  margin: 4px 10px;
}
.asn_post .neme_glav_post .vn_gl_nm_ps:hover {
  text-decoration: underline;
}
.neme_post {
  display: block;
  float: right;
  width: 584.9866666666667px;
  height: 54.98666666666668px;
  background-color: white;
}
.neme_post .avatar_st_post {
  display: block;
  float: left;
  width: 54.98666666666668px;
  height: 54.98666666666668px;
  background-color: white;
}
.neme_post .avatar_st_post #avatar_st_post1 {
  display: block;
  float: left;
  width: 54.98666666666668px;
  height: 54.98666666666668px;
  background: url("../Photos/UzerPhoto/icon_post/icon-post-1.jpg") no-repeat;
  background-size: cover;
}
.neme_post .avatar_st_post #avatar_st_post2 {
  display: block;
  float: left;
  width: 54.98666666666668px;
  height: 54.98666666666668px;
  background: url("../Photos/UzerPhoto/icon_post/icon-post-2.jpg") no-repeat;
  background-size: cover;
}
.neme_post .avatar_st_post #avatar_st_post3 {
  display: block;
  float: left;
  width: 54.98666666666668px;
  height: 54.98666666666668px;
  background: url("../Photos/UzerPhoto/icon_post/icon-post-3.jpg") no-repeat;
  background-size: cover;
}
.neme_post .name_afect {
  display: block;
  float: left;
  width: auto;
  height: auto;
  margin: 5px;
}
.neme_post .name_afect .icon_strelc {
  display: block;
  float: left;
  width: 11px;
  height: 11px;
  margin-top: 4px;
  background: url("../Photos/UzerPhoto/icon-strelca.gif") no-repeat;
}
.neme_post .name_afect:hover {
  text-decoration: underline;
}
.neme_post .name_st_post {
  display: block;
  float: left;
  width: 529.9866666666667px;
  height: 25px;
  background-color: white;
  margin-bottom: 1px;
  font-weight: 700;
}
.neme_post .vr_st_post {
  display: block;
  float: left;
  width: 529.9866666666667px;
  height: 25px;
  background-color: white;
}
.neme_post .vr_st_post .data_post {
  color: #aaaaaa;
  font-size: 11px;
}
.soder_post {
  display: block;
  float: left;
  width: 584.9866666666667px;
  height: auto;
}
.soder_post #post_1_sod_1 {
  display: block;
  float: left;
  width: 188.98666666666668px;
  height: 188.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_1.jpg") no-repeat;
  background-size: cover;
  margin: 3px 3px 3px 0px;
  border: 1px solid black;
}
.soder_post #post_1_sod_2 {
  display: block;
  float: left;
  width: 188.98666666666668px;
  height: 188.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_2.jpg") no-repeat;
  background-size: cover;
  margin: 3px;
  border: 1px solid black;
}
.soder_post #post_1_sod_3 {
  display: block;
  float: left;
  width: 188.98666666666668px;
  height: 188.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_3.jpg") no-repeat;
  background-size: cover;
  margin: 3px 0px 3px 3px;
  border: 1px solid black;
}
.soder_post #post_1_sod_4 {
  display: block;
  float: left;
  width: 138.98666666666668px;
  height: 139.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_4.jpg") no-repeat;
  background-size: cover;
  margin: 3px 3px 3px 0px;
  border: 1px solid black;
}
.soder_post #post_1_sod_5 {
  display: block;
  float: left;
  width: 139.98666666666668px;
  height: 139.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_5.jpg") no-repeat;
  background-size: cover;
  margin: 3px;
  border: 1px solid black;
}
.soder_post #post_1_sod_6 {
  display: block;
  float: left;
  width: 139.98666666666668px;
  height: 139.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_6.jpg") no-repeat;
  background-size: cover;
  margin: 3px;
  border: 1px solid black;
}
.soder_post #post_1_sod_7 {
  display: block;
  float: left;
  width: 139.98666666666668px;
  height: 139.98666666666668px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_1_sod_7.jpg") no-repeat;
  background-size: cover;
  margin: 3px 0px 3px 3px;
  border: 1px solid black;
}
.soder_post .stroca_p-2 {
  white-space: pre;
}
.soder_post #post_2_sod {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 399.9866666666667px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_2_sod.jpg") no-repeat;
  background-size: cover;
  margin: 5px 0px;
}
.soder_post .song_block {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 25px;
  margin: 5px 0px;
}
.soder_post .song_block .song_play {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url("../Photos/UzerPhoto/audio/playpause.gif") no-repeat;
  background-size: cover;
  margin: 4px;
}
.soder_post .song_block .song_play:active {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url("../Photos/UzerPhoto/audio/playpause.gif") 0px -18px no-repeat;
  background-size: cover;
  margin: 4px;
}
.soder_post .song_block .naime_song {
  display: block;
  float: left;
  width: 499.9866666666667px;
  height: 18px;
  margin: 5px;
  font-size: 11px;
}
.soder_post .song_block .grupp:hover {
  color: #487dd2;
  text-decoration: underline;
}
.soder_post .song_block .naime_s {
  color: #aaaaaa;
}
.soder_post .song_block .taim_song {
  display: block;
  float: right;
  width: 18px;
  height: 11px;
  margin: 4px 10px;
}
.soder_post .song_block:hover {
  background-color: #e1e9f4;
}
.soder_post .pk_pol {
  color: #407fb4;
}
.soder_post .pk_pol:hover {
  color: #254663;
  text-decoration: underline;
}
.soder_post .stroca_p-3 {
  white-space: pre;
  font-family: Bicubik;
}
.soder_post #block_vidio_post {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 319.9866666666667px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_3_sob.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}
.soder_post #block_vidio_post #centr_pley {
  display: block;
  float: left;
  width: 50px;
  height: 40px;
  margin: 125px 264.9866666666667px;
  background: rgba(0, 0, 0, 0.3);
  border: 0.5px solid #000000;
  border-radius: 5px ;
}
.soder_post #block_vidio_post #centr_pley #icon_play {
  display: block;
  float: left;
  width: 18px;
  height: 22px;
  background: url("../Photos/UzerPhoto/Video/video_play.png");
  background-size: cover;
  margin: 9px 19px;
}
.soder_post #block_vidio_post #centr_pley:hover {
  background: rgba(0, 0, 0, 0.5);
}
.soder_post #block_vidio_post #time_vidio {
  display: block;
  float: right;
  width: 45px;
  height: 16px;
  font-size: 11px;
  margin: 0px 10px;
  padding: 2px 4px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.soder_post #block_vidio_post #time_vidio #txt_block {
  display: block;
  float: left;
  width: auto;
  height: auto;
}
.soder_post #text_vidio {
  display: block;
  float: left;
  width: 219.98666666666668px;
  height: 40px;
}
.soder_post #text_vidio #mono_icon {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  background: url("../Photos/UzerPhoto/mono_iconset.png") 0px -73px no-repeat;
  background-size: cover;
  margin: 0;
}
.soder_post #text_vidio:hover {
  text-decoration: underline;
}
.soder_post #cisl_prosm {
  display: block;
  float: right;
  margin: 5px;
  color: #5d5d5d;
  font-weight: bold;
}
.soder_post #post_4_sob {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 319.9866666666667px;
  background: url("../Photos/UzerPhoto/Soderg_post/post_4_sob.jpg") no-repeat;
  background-size: cover;
  margin: 5px 0px;
}
.soder_post #aftor_post_line {
  display: block;
  float: left;
  width: 120px;
  height: 18px;
  padding: 2px 3px;
}
.soder_post #aftor_post_line #after_post {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  background: url("../Photos/UzerPhoto/mono_iconset.png") no-repeat;
  background-size: cover;
  margin: 0;
}
.podval_post {
  display: block;
  float: left;
  width: 584.9866666666667px;
  height: 25px;
  background-color: white;
  font-size: 11px;
  margin-bottom: 10px;
}
.pod_str {
  display: block;
  float: left;
  width: 199.98666666666668px;
  height: 11px;
  margin: 7px;
  background-color: white;
}
.taim_post {
  color: #aaaaaa;
}
.taim_post:hover {
  text-decoration: underline;
}
.coment_post:hover {
  text-decoration: underline;
}
.delica_post {
  display: block;
  float: right;
  width: 29.98666666666668px;
  height: 25px;
  background-color: #fafafa;
  border-radius: 5px;
}
.delica_post:hover {
  background-color: #e6dee8;
}
.avatar_delica {
  display: block;
  float: left;
  width: 14px;
  height: 16px;
  background: url("../Photos/UzerPhoto/like.gif") 0px -27px no-repeat;
  background-size: cover;
  margin: 5px 7px;
}
.i_li_block {
  display: block;
  float: right;
  width: auto;
  height: 25px;
  color: #aaaaaa;
  background-color: #fafafa;
  border-radius: 5px;
}
.i_li_block:hover {
  color: #3c74a3;
  background-color: #e6dee8;
}
.nm_like-2 {
  display: block;
  float: right;
  width: auto;
  height: 14px;
  margin: 5px 0px;
}
.i_like {
  display: block;
  float: left;
  width: auto;
  height: auto;
  margin: 6px 0px 6px 6px;
}
.icon_i_like {
  display: block;
  float: right;
  width: 11px;
  height: 9px;
  background: url("../Photos/UzerPhoto/like.gif") 0px 0px no-repeat;
  background-size: cover;
  margin: 8px 6px 2px 2px;
}
/*---------------------------------------------------------------------------
содержимое 4-го поста
-----------------------------------------------------------------------------*/
#block_koments {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: auto;
}
#block_koments .line {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: auto;
  border: 0.1px solid #cbcbcb;
}
#block_koments .smail {
  display: block;
  float: right;
  width: 14px;
  height: 14px;
  background: url("../Photos/UzerPhoto/smail.png") no-repeat;
  background-size: cover;
  margin: 0px 422px 0px 0px;
}
#block_koments #ws_coment {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 30px;
  text-align: center;
  background-color: #e5e5e5;
}
#block_koments #ws_coment #namber_coments {
  display: block;
  width: 579.9866666666667px;
  height: 12px;
  font-size: 12px;
  margin: 7px 0px;
  color: #808b8e;
}
#block_koments #ws_coment #namber_coments:hover {
  color: #3e4446;
}
#block_koments .coment_block {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 59.98666666666668px;
  margin: 10px 0px;
}
#block_koments .coment_block .underl:hover {
  text-decoration: underline;
}
#block_koments .coment_block #coment_avatar_1 {
  display: block;
  float: left;
  width: 59.98666666666668px;
  height: 59.98666666666668px;
  background: url("../Photos/UzerPhoto/avatar_coment/avatar_coment_1.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}
#block_koments .coment_block #coment_avatar_2 {
  display: block;
  float: left;
  width: 59.98666666666668px;
  height: 59.98666666666668px;
  background: url("../Photos/UzerPhoto/avatar_coment/avatar_coment_2.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}
#block_koments .coment_block #coment_avatar_3 {
  display: block;
  float: left;
  width: 59.98666666666668px;
  height: 59.98666666666668px;
  background: url("../Photos/UzerPhoto/avatar_coment/avatar_coment_3.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}
#block_koments .coment_block .name_coment {
  display: block;
  float: left;
  width: 499.9866666666667px;
  height: 12px;
  margin: 0px 10px;
  color: #407fb4;
}
#block_koments .coment_block .name_coment:hover {
  text-decoration: underline;
}
#block_koments .coment_block .sam_coment {
  display: block;
  float: left;
  width: 499.9866666666667px;
  height: 12px;
  margin: 10px;
}
#block_koments .coment_block .nz_block_coment {
  display: block;
  float: left;
  width: 499.9866666666667px;
  height: 20px;
  margin: 0px 10px;
}
#block_koments .coment_block .nz_block_coment .taim_coment {
  display: block;
  float: left;
  width: auto;
  height: 12px;
}
#block_koments .coment_block .nz_block_coment .otp_coment {
  display: block;
  float: left;
  width: auto;
  height: 12px;
  color: #407fb4;
}
#block_koments .coment_block .nz_block_coment .otp_coment:hover {
  text-decoration: underline;
}
#block_koments .coment_block .nz_block_coment .im_like {
  display: block;
  float: left;
  width: auto;
  height: 12px;
  color: #dddddd;
}
#block_koments .coment_block .nz_block_coment .im_like:hover {
  color: #407fb4;
}
#block_koments .coment_block .nz_block_coment .icon_like {
  display: block;
  float: right;
  width: 12px;
  height: 11px;
  background: url("../Photos/UzerPhoto/like.gif") 0px 0px no-repeat;
  background-size: cover;
  margin: 2px 3px;
}
#block_koments .coment_block .nz_block_coment .nm_like {
  display: block;
  float: right;
  width: auto;
  height: 12px;
}
#block_koments #soz_com_block {
  display: block;
  float: left;
  width: 579.9866666666667px;
  height: 40px;
  background-color: #e5e5e5;
}
