//---- левый блок меню

@size_absolutely:1040px;

@size_t_v_b_l:@size_absolutely * 1.307 / 10;
@size_-26:@size_t_v_b_l - 26;

@color-lite_blue: #4b6988;
@color-gray_lite: #e8edf6;
.as_block{
  display: block;
  width: @size_absolutely;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.block_bar{
  float: left;
  width: @size_t_v_b_l;
  padding: 5px 0px 1px 4px;
  background-color: white;
}
.text_bar_line{
  list-style: none;
  padding: 0px;
  .bar_line{
    display: table-cell;
    vertical-align: middle;
    width: @size_-26;
    height: 20px;
    margin: auto;
    border-radius: 3px;
  }
  .bar_line:hover{
    background-color: @color-gray_lite;
  }
  .red_dak{
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    width: (@size_-26 - 90);
    border-radius: 3px;
  }
  .red_dak:hover{
    background-color: @color-gray_lite;
  }
  .ws_fr{
    display: block;
    float: left;
    color: #535152;
    height: 10px;
    width: @size_t_v_b_l;
    padding-bottom: 5px;
  }
}
.last_line{
  float: inherit;
  margin-top: 1px;
  padding-top: 1px;
  border-top: 0.5px solid #888888;
}
li{
  display: block;
  text-align: match-parent;
  margin-bottom: 5px;
}
a{
  text-decoration: none;
  color: @color-lite_blue;
  cursor: pointer;
}

